---
export interface Props {
    frontmatter: {
        title?: string
    }
}

import BaseLayout from "./SubLayout.astro"
import { ChevronDoubleLeftIcon } from "@heroicons/react/24/outline"

const {frontmatter} = Astro.props
---
<BaseLayout title={frontmatter.title}>
    <div class="mx-auto w-fit m-2 p-4 border rounded-lg shadow-lg">
        <div class="prose">
            <slot />
        </div>
    </div>
    <div class="flex justify-start gap-2 max-w-prose">
        <a href="/" class="flex flex-row items-center gap-2 rounded-lg shadow-lg p-4 hover:bg-indigo-200">
            <ChevronDoubleLeftIcon className="w-6 h-6" client:visible />
            <div>トップページへ</div>
        </a>
    </div>
</BaseLayout>
