---
import BaseLayout from "./Layout.astro"
import type LayoutProps from '../layoutProps'

export interface Props extends LayoutProps {}
---
<BaseLayout {...Astro.props}>
    <div class="max-w-xl mx-auto">
        <header class="p-4 mb-4 rounded-b-lg shadow-lg items-center bg-blue-300 border-b border-l border-r">
            <h1 class="text-2xl orbitron"><a href="/" class="hover:underline">Kuropen.org</a></h1>
        </header>
        <main>
            <slot />
        </main>
    </div>
</BaseLayout>
