---
import Layout from '../layouts/Layout.astro'
import MisskeyIcon from '../assets/misskey.png'
import FediverseAccountList from '../components/FediverseAccountList';
---
<Layout title="Fediverseアカウント">
    <section class="mx-auto m-2 p-4 border rounded-lg shadow-lg">
        <div class="flex flex-row items-center mb-4 gap-2">
            <div class="mastodon w-8 fill-current">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Mastodon</title><path d="M23.268 5.313c-.35-2.578-2.617-4.61-5.304-5.004C17.51.242 15.792 0 11.813 0h-.03c-3.98 0-4.835.242-5.288.309C3.882.692 1.496 2.518.917 5.127.64 6.412.61 7.837.661 9.143c.074 1.874.088 3.745.26 5.611.118 1.24.325 2.47.62 3.68.55 2.237 2.777 4.098 4.96 4.857 2.336.792 4.849.923 7.256.38.265-.061.527-.132.786-.213.585-.184 1.27-.39 1.774-.753a.057.057 0 0 0 .023-.043v-1.809a.052.052 0 0 0-.02-.041.053.053 0 0 0-.046-.01 20.282 20.282 0 0 1-4.709.545c-2.73 0-3.463-1.284-3.674-1.818a5.593 5.593 0 0 1-.319-1.433.053.053 0 0 1 .066-.054c1.517.363 3.072.546 4.632.546.376 0 .75 0 1.125-.01 1.57-.044 3.224-.124 4.768-.422.038-.008.077-.015.11-.024 2.435-.464 4.753-1.92 4.989-5.604.008-.145.03-1.52.03-1.67.002-.512.167-3.63-.024-5.545zm-3.748 9.195h-2.561V8.29c0-1.309-.55-1.976-1.67-1.976-1.23 0-1.846.79-1.846 2.35v3.403h-2.546V8.663c0-1.56-.617-2.35-1.848-2.35-1.112 0-1.668.668-1.67 1.977v6.218H4.822V8.102c0-1.31.337-2.35 1.011-3.12.696-.77 1.608-1.164 2.74-1.164 1.311 0 2.302.5 2.962 1.498l.638 1.06.638-1.06c.66-.999 1.65-1.498 2.96-1.498 1.13 0 2.043.395 2.74 1.164.675.77 1.012 1.81 1.012 3.12z"/></svg>
            </div>
            <img src={MisskeyIcon} class="w-8" />
			<h2 class="text-2xl">Fediverseアカウント一覧</h2>
		</div>        
        <div class="flex flex-row items-center gap-4 p-4 border rounded-lg shadow-lg bg-yellow-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden md:block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
            </svg>                  
            <p>Kuropenは以下のMisskeyおよびMastodonサーバーのアカウントを保有しています。<br />
                これらのアカウントは、対応するSNS (Mastodon, Misskey) のいずれかのサーバーにアカウントを持っていればリモートフォローが可能です。<br />
                リモートフォローするには、お使いのSNSの検索ウィンドウにアカウント名を入力してください。</p>
        </div>
        <FediverseAccountList client:visible />
    </section>
    <div class="flex justify-start gap-2">
        <a href="/" class="flex flex-row items-center gap-2 rounded-lg shadow-lg p-4 hover:bg-indigo-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
            </svg>                  
            <div>トップページへ</div>
        </a>
    </div>
</Layout>

<style>
    .mastodon {
        color: #6364ff;
    }
</style>