---
import Layout from '../layouts/Layout.astro'
import Profile from '../components/Profile.astro'
import getWhatsNew from '../utils/getWhatsNew'
import ArticleList from '../components/ArticleList.astro'

const articlesList = await getWhatsNew({limit: 6});
---

<Layout>
	<Profile />
	<section class="mx-auto m-2 p-4 border rounded-lg shadow-lg">
		<div class="flex flex-row items-center mb-4 gap-2">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
				<path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
			</svg>
			<h2 class="text-2xl">書いたもの</h2>
		</div>
		<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			<ArticleList articles={articlesList} />
		</ul>
		<div class="flex justify-end">
			<a href="/pgn-archives/" class="flex flex-row items-center gap-2 rounded-lg shadow-lg p-4 hover:bg-indigo-200">
				<div>さらに表示</div>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
				</svg>							
			</a>
		</div>
	</section>
</Layout>
