---
import { PencilSquareIcon } from '@heroicons/react/24/outline'
---
<div class="flex flex-row items-center mb-4 gap-2">
    <PencilSquareIcon className="w-8 h-8" client:visible />
    <h2 class="text-2xl">書いたもの</h2>
</div>
