---
import { ChevronRightIcon } from "@heroicons/react/24/outline"

export interface Props {
    href: string
    target?: string
}
---
<div class="my-2">
    <a href={Astro.props.href} class="underline flex flex-row gap-1" target={Astro.props.target}>
        <ChevronRightIcon className="w-6 h-6" client:visible />
        <span><slot /></span>
    </a>
</div>