---
import PenguinImg from '../assets/penguin.png'

import { BriefcaseIcon, MapPinIcon, AcademicCapIcon, ArrowsRightLeftIcon, CommandLineIcon } from "@heroicons/react/24/outline"
---

<section>
    <div class="flex flex-row">
        <div class="w-8">
            <img src={PenguinImg} alt="" class="rounded-full" />
        </div>
        <h2 class="text-2xl content-center ml-2">Kuropen</h2>
    </div>
    <dl>
        <dt>
            <BriefcaseIcon className="w-6 h-6" client:visible />
        </dt>
        <dd>Web Engineer</dd>
    </dl>
    <dl>
        <dt>
            <CommandLineIcon className="w-6 h-6" client:visible />
        </dt>
        <dd class="speciality-list">
            <ul>
                <li>PHP</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt>
            <MapPinIcon className="w-6 h-6" client:visible />
        </dt>
        <dd>Japan: Saitama 
            <ArrowsRightLeftIcon className="w-4 h-4 inline" client:visible />
            Aizu-Wakamatsu</dd>
    </dl>
    <dl>
        <dt>
            <AcademicCapIcon className="w-6 h-6" client:visible />
        </dt>
        <dd>The University of Aizu, Aizu-Wakamatsu, Japan</dd>
    </dl>
</section>

<style>
    dl {
        @apply flex flex-row items-center gap-2 my-2;
    }
    .speciality-list > ul > li {
        @apply inline;
    }
    .speciality-list > ul > li:not(:last-child)::after {
        content: ", ";
    }
</style>