---
import Layout from '../../layouts/SubLayout.astro'
import getWhatsNew from '../../utils/getWhatsNew'
import ArticleList from '../../components/ArticleList.astro'
import ArchivesHeading from '../../components/ArchivesHeading.astro'

import { ChevronLeftIcon } from '@heroicons/react/24/outline'
import type { OgpDataAsParameter } from '../../ogpDataProps'

const articlesList = await getWhatsNew()
const ogpData: OgpDataAsParameter = {
    type: 'website',
}
---
<Layout title="書いたもの" og={ogpData}>
    <section class="mx-auto m-2 p-4 border rounded-lg shadow-lg">
		<ArchivesHeading />
        <ul class="flex flex-col gap-2">
            <ArticleList articles={articlesList} />
        </ul>
        <div class="flex justify-start gap-2">
            <a href="/" class="flex flex-row items-center gap-2 rounded-lg shadow-lg p-4 hover:bg-indigo-200">
                <ChevronLeftIcon className="w-6 h-6" client:visible />
                <div>トップページへ</div>
            </a>
        </div>
    </section>
</Layout>
